
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*
    Created on : 2024年7月25日, 16:01:53
    Author     : ZU
*/

/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow-x: hidden;
    background-color: #f8f9fa;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
.header {
    background-color: #4CAF50; /* Green background */
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-color: #ffffff; /* White icon */
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #e8f5e9; /* Slightly lighter green */
}

/* Footer Styles */
.Footer {
    background-color: #4CAF50; /* Green background */
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Footer p {
    margin: 0;
    font-size: 14px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin-left: 0;
        margin-top: 10px;
    }
}

/* sign up Styles */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px); 
    padding: 20px;
    text-align: center;
    overflow-y: auto;
}

.main h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Card Styles */
.card {
    width: 100%;
    max-width: 600px; /* Increased max width for the card */
    margin: 20px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
     background-color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
}

.btn-custom {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%; 
    
}

.btn-custom:hover {
    background-color: #45a049; /* Darker green */
}
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin-left: 0;
        margin-top: 10px;
    }
}
